#{{ ansible_managed }}
# OPENDKIM KEY TABLE
# To use this file, uncomment the #KeyTable option in /etc/opendkim.conf,
# then uncomment the following line and replace myhostname.com with your domain
# name, then restart OpenDKIM. Additional keys may be added on separate lines.

paravion._domainkey.myhostname.com myhostname.com:paravion:/etc/opendkim/keys/myhostname.com/paravion.private
